<footer id="sticky-footer" class="py-4 bg-dark">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Leo Lee", "https://muffin-alpha-blog-6.herokuapp.com/", class: "text-white" %></small>
  </div>
</footer>